.register-container {
    display: grid;
    place-items: center;
    min-height: calc(100vh - 100px); /* Adjust height to account for header and footer */
    padding: 20px;
    background-color: #f9f9f9;
}

.register-box {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto; /* Add scroll within box if form height exceeds */
    max-height: 80vh; /* Prevents overflow from box */
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.register-button {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

.register-button:hover {
    background-color: darkviolet;
}
