.words {
    overflow: hidden;
    height: 1.5em; /* Set height to match one line of text */
    /* display: inline-block; */
}

.words span {
    display: block;
    height: 1.5em; /* Adjust to match the container height */
    animation: spin_words 8s infinite;
}

@keyframes spin_words {
    0%, 10% {
        transform: translateY(0);
    }
    25%, 35% {
        transform: translateY(-100%);
    }
    50%, 60% {
        transform: translateY(-200%);
    }
    75%, 85% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}

/* Responsive font adjustments */
@media (max-width: 1024px) {
    .words {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    .words {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .words {
        font-size: 0.8rem;
    }
}
